@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  font-size: 16px;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  body{
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight:300 ;
    position: relative;
  }
  :root{
    --yellow-color:#FFFF00;
    --yellow-light: #F8F184;
    --blue-color:#19587D;
    --red-:#B11313;
    --black-one:#0D0E09;
    --black-color:#000000;
    --white-color:#ffffff;
    --gradient-white:#EDDEBF;
    --gradient-red:#890008;
    --gray:#C4C4C4;
    --input-color:#BCBBBD;
    


  }
  .up-border{
    border-top: 3px solid transparent;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 83.13%, rgba(255, 255, 255, 0) 106.54%);
    border-image-slice: 1; 
    position: relative;
    width: 86%;
    top: 132px;
    /* left:6%; */
    margin: 0 auto;
  }
  .left-border{
    border-top: 3px solid transparent;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 83.13%, rgba(255, 255, 255, 0) 106.54%);
    border-image-slice: 1; 
    position: fixed ;
    transform: rotate(90deg);
    width: 100%;
    height: auto;
    left: -43%;
  }
  .right-border{
    border-top: 3px solid transparent;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 83.13%, rgba(255, 255, 255, 0) 106.54%);
    border-image-slice: 1; 
    position: fixed;
    transform: rotate(90deg);
    width: 100%;
    height: auto;
    right: -43%;
    }
 


  .container{
    width: 80%;  /* largeur de l'ecran */
    margin: 0 auto;  /* pour centrer les contenus */
    position: relative;

  }
  /* .container::before
  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left:-50px;
    width: 3px;
    height:100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 83.13%, rgba(255, 255, 255, 0) 106.54%);
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50px;
  width: 3px;
  height:100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 83.13%, rgba(255, 255, 255, 0) 106.54%);
}  */
  h1{
    font-size:2.25rem;
    font-weight: 700;
    line-height: 28px;
  }
  button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
  }
  .logo:hover path {
    fill: rgba(255, 255, 0, 1);

  }


  /* Design de la navigation */
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:30px 0;
  margin: 0 auto;
  width: 80%;

}
ul{
  list-style: none;
  display: flex;
  gap: 42px;
  

}


nav ul li a{
 color: var(--white-color);
 font-size: 28px;
 font-weight:normal;
 font-family: 'Rajdhani';
 text-transform: uppercase;
 text-decoration: none;
 outline: none;
 line-height:35.73px ;

}
nav ul li a:focus, nav ul li a:visited{
  font-weight: 800;
  border-bottom: 1px solid ;
}
/* nav ul li a.active {
    font-weight: 800;
    border-bottom: 1px solid;
  } */
nav ul li a:hover
{
  font-weight: 800;
  border-bottom: 1px solid ;
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 50px;
    top: 300px;
  }
  .scroll .social-media{
  margin-top: 32px;
  }
  .scroll .social{
    display: flex;
    flex-direction: column;
    margin: 32px 0 32px 0;
  }

  
/* Design de la partie hero */
header{
  background-image: url(./Assets/Illustrations/Batgame_1.png);
  height:100vh; /* C'est pour que l'icone fleche down soit visible avec les contenus section hero */
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

}
#hero .content{
display: flex;
justify-content: flex-start;
margin-top: 274px;
margin-left: 89px;
}
#hero .titre{
  text-transform: uppercase;
  font-family:'Rajdhani' ;
  font-size: 52px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 66.35px;
  letter-spacing: 3%;
  padding:57px 0 57px 177px;
  
}
.fleche-down{
  display: block;
  width: 70px;
  height: 38px;
  margin: 0 auto;
  margin-top: 47px;
  
}

/* Design section main */
h2 {
  text-transform: uppercase;
  font-family:'Rajdhani' ;
  font-size: 36px;
  font-weight: 700;
  color: var(--white-color);
  line-height: 45.94px;
  letter-spacing: 3%;
  margin-top: 132px;
  text-align: center;
}
.container {
 display: flex;
 flex-direction: column;
 align-items: center;

}
.batgame{
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

/* Bouton */
.btn{
  display: inline-block;
  width: 342px;
  height: 64px;
  margin-top: 103px;
  padding: 19px 82px;
  line-height: 25px ;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  font-family: 'Rajdhani';
  font-size: 20px;
  background: linear-gradient(273.81deg, #C06F28 0%, rgba(252, 232, 216, 0.4) 100%);
}
.btn:hover{
  background: linear-gradient(273.81deg, #890008 0%, #FCE8D8 100%);

}
/* design footer */
footer{
  margin-top: 209px;
}
footer .text-footer{
  display: flex;
  justify-content: center;
  gap: 12px;
}
.text-footer p{
  font-size: 10px;
  font-family:'Space-Grotesk',sans-serif ;
}

footer .logos-footer{
  margin-top: 34px;
  display: flex;
  flex: 1;
  justify-content: center;
}
.logos-footer .logo-sayna{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
 footer .social-items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-left:42px ;

}